@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http
@model List<Codecool.CodecoolShop.Models.Product>

<section class="bg-light pt-5 pb-5 shadow-sm">
    <div class="container">
        <div class="row">
            @foreach (var element in Model)
            {
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="/img/@(element.Name).jpg" class="card-img-top pt-3" alt="@(element.Name)" style="height: 15rem; object-fit: scale-down;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@element.Name</h5>
                            <p class="card-text mb-4">Category: @element.ProductCategory.Name</p>
                            <p class="card-text mb-4">Supplier: @element.Supplier.Name</p>
                            <p class="card-text mb-4">@element.Description</p>
                            <p class="card-text mt-auto text-center">
                                <strong>Price: @element.DefaultPrice.ToString("C2")</strong>
                            </p>

                            @if (Context.Session.GetString("username") != null)
                            {
                                <a class="btn btn-primary text-center text-white" onclick="addToCart(@element.Id)" style="cursor: pointer;">Add To Cart</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>